In [5]:
from pathlib import Path

filepath = Path("Datasets/main.csv")

In [6]:
import pandas as pd

In [7]:
df=pd.read_csv(filepath)

In [8]:
df

,sleep_interval,appetite,going_out,friendship_status,family_relationships,relationship,hobbies_and_interests,self_perception,bullying_experience,social_media_impact,academic_pressure,intoxication,_and_ambitions,age,grade,sum,depressionLevel
0,2,2,0,2,2,2,0,2,1,1,0,1,2,2,0,41,Moderate
1,2,1,1,2,1,0,0,2,1,2,2,0,2,2,2,41,Moderate
2,2,1,0,2,0,1,0,0,0,0,1,0,1,0,2,22,Mild
3,0,2,1,2,1,2,2,2,0,1,0,0,1,2,0,35,Moderate
4,2,0,0,2,0,1,0,1,0,0,1,0,0,1,0,19,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,2,0,0,2,0,2,0,1,1,2,1,1,2,2,2,33,Mild
23007,2,1,0,2,1,0,2,0,0,2,1,0,0,2,2,32,Mild
23008,2,0,1,0,2,1,2,1,0,1,0,2,0,1,0,28,Mild
23009,0,2,1,0,2,2,1,0,1,2,1,1,2,2,0,34,Moderate
23010,0,1,0,0,0,1,2,0,1,2,1,0,1,1,0,19,Low

In [9]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['DepressionLevel'] = label_encoder.fit_transform(df['depressionLevel'])

In [10]:
df

,sleep_interval,appetite,going_out,friendship_status,family_relationships,relationship,hobbies_and_interests,self_perception,bullying_experience,social_media_impact,academic_pressure,intoxication,_and_ambitions,age,grade,sum,depressionLevel,DepressionLevel
0,2,2,0,2,2,2,0,2,1,1,0,1,2,2,0,41,Moderate,3
1,2,1,1,2,1,0,0,2,1,2,2,0,2,2,2,41,Moderate,3
2,2,1,0,2,0,1,0,0,0,0,1,0,1,0,2,22,Mild,2
3,0,2,1,2,1,2,2,2,0,1,0,0,1,2,0,35,Moderate,3
4,2,0,0,2,0,1,0,1,0,0,1,0,0,1,0,19,Low,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,2,0,0,2,0,2,0,1,1,2,1,1,2,2,2,33,Mild,2
23007,2,1,0,2,1,0,2,0,0,2,1,0,0,2,2,32,Mild,2
23008,2,0,1,0,2,1,2,1,0,1,0,2,0,1,0,28,Mild,2
23009,0,2,1,0,2,2,1,0,1,2,1,1,2,2,0,34,Moderate,3
23010,0,1,0,0,0,1,2,0,1,2,1,0,1,1,0,19,Low,1

In [11]:
df=df.drop(columns='depressionLevel')

In [25]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
import numpy as np


def build_ann_model(input_shape, num_classes):
    model = Sequential([
        Dense(128, activation='relu', input_shape=(input_shape,)),
        Dropout(0.4),
        Dense(64, activation='relu'),
        Dropout(0.4),
        Dense(num_classes, activation='softmax')  
    ])
    
    
    model.compile(optimizer='adam', 
                  loss='sparse_categorical_crossentropy',
                  metrics=['accuracy'])
    
    return model

In [26]:
df

,sleep_interval,appetite,going_out,friendship_status,family_relationships,relationship,hobbies_and_interests,self_perception,bullying_experience,social_media_impact,academic_pressure,intoxication,_and_ambitions,age,grade,sum,DepressionLevel
0,2,2,0,2,2,2,0,2,1,1,0,1,2,2,0,41,3
1,2,1,1,2,1,0,0,2,1,2,2,0,2,2,2,41,3
2,2,1,0,2,0,1,0,0,0,0,1,0,1,0,2,22,2
3,0,2,1,2,1,2,2,2,0,1,0,0,1,2,0,35,3
4,2,0,0,2,0,1,0,1,0,0,1,0,0,1,0,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,2,0,0,2,0,2,0,1,1,2,1,1,2,2,2,33,2
23007,2,1,0,2,1,0,2,0,0,2,1,0,0,2,2,32,2
23008,2,0,1,0,2,1,2,1,0,1,0,2,0,1,0,28,2
23009,0,2,1,0,2,2,1,0,1,2,1,1,2,2,0,34,3
23010,0,1,0,0,0,1,2,0,1,2,1,0,1,1,0,19,1

In [27]:
X

,sleep_interval,appetite,going_out,friendship_status,family_relationships,relationship,hobbies_and_interests,self_perception,bullying_experience,social_media_impact,academic_pressure,intoxication,_and_ambitions,age,grade,sum
0,2,2,0,2,2,2,0,2,1,1,0,1,2,2,0,41
1,2,1,1,2,1,0,0,2,1,2,2,0,2,2,2,41
2,2,1,0,2,0,1,0,0,0,0,1,0,1,0,2,22
3,0,2,1,2,1,2,2,2,0,1,0,0,1,2,0,35
4,2,0,0,2,0,1,0,1,0,0,1,0,0,1,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,2,0,0,2,0,2,0,1,1,2,1,1,2,2,2,33
23007,2,1,0,2,1,0,2,0,0,2,1,0,0,2,2,32
23008,2,0,1,0,2,1,2,1,0,1,0,2,0,1,0,28
23009,0,2,1,0,2,2,1,0,1,2,1,1,2,2,0,34
23010,0,1,0,0,0,1,2,0,1,2,1,0,1,1,0,19

In [28]:
X=df.iloc[:, :-1]

In [29]:
X

,sleep_interval,appetite,going_out,friendship_status,family_relationships,relationship,hobbies_and_interests,self_perception,bullying_experience,social_media_impact,academic_pressure,intoxication,_and_ambitions,age,grade,sum
0,2,2,0,2,2,2,0,2,1,1,0,1,2,2,0,41
1,2,1,1,2,1,0,0,2,1,2,2,0,2,2,2,41
2,2,1,0,2,0,1,0,0,0,0,1,0,1,0,2,22
3,0,2,1,2,1,2,2,2,0,1,0,0,1,2,0,35
4,2,0,0,2,0,1,0,1,0,0,1,0,0,1,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,2,0,0,2,0,2,0,1,1,2,1,1,2,2,2,33
23007,2,1,0,2,1,0,2,0,0,2,1,0,0,2,2,32
23008,2,0,1,0,2,1,2,1,0,1,0,2,0,1,0,28
23009,0,2,1,0,2,2,1,0,1,2,1,1,2,2,0,34
23010,0,1,0,0,0,1,2,0,1,2,1,0,1,1,0,19

In [30]:
Y=df['DepressionLevel']

In [31]:
Y

0        3
1        3
2        2
3        3
4        1
        ..
23006    2
23007    2
23008    2
23009    3
23010    1
Name: DepressionLevel, Length: 23011, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [33]:
input_shape = 16
num_classes = 4

In [34]:
from tensorflow.keras.callbacks import EarlyStopping

In [35]:
model = build_ann_model(input_shape, num_classes)
early_stopping = EarlyStopping(monitor='val_accuracy', patience=5, restore_best_weights=True)
model.fit(X_train, y_train, epochs=100, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/100
504/504 [==============================] - 0s 581us/step - loss: 1.0758 - accuracy: 0.5761 - val_loss: 0.4816 - val_accuracy: 0.8565
Epoch 2/100
504/504 [==============================] - 0s 428us/step - loss: 0.4951 - accuracy: 0.8012 - val_loss: 0.2599 - val_accuracy: 0.9283
Epoch 3/100
504/504 [==============================] - 0s 429us/step - loss: 0.3649 - accuracy: 0.8499 - val_loss: 0.2021 - val_accuracy: 0.9476
Epoch 4/100
504/504 [==============================] - 0s 430us/step - loss: 0.3107 - accuracy: 0.8725 - val_loss: 0.1694 - val_accuracy: 0.9515
Epoch 5/100
504/504 [==============================] - 0s 432us/step - loss: 0.2821 - accuracy: 0.8807 - val_loss: 0.1733 - val_accuracy: 0.9439
Epoch 6/100
504/504 [==============================] - 0s 443us/step - loss: 0.2465 - accuracy: 0.8984 - val_loss: 0.1485 - val_accuracy: 0.9466
Epoch 7/100
504/504 [==============================] - 0s 442us/step - loss: 0.2262 - accuracy: 0.9015 - val_loss: 0.1388 - val_accuracy: 0.9564
Epoch 8/100
504/504 [==============================] - 0s 440us/step - loss: 0.2064 - accuracy: 0.9108 - val_loss: 0.1228 - val_accuracy: 0.9576
Epoch 9/100
504/504 [==============================] - 0s 493us/step - loss: 0.1966 - accuracy: 0.9172 - val_loss: 0.1104 - val_accuracy: 0.9573
Epoch 10/100
504/504 [==============================] - 0s 438us/step - loss: 0.1864 - accuracy: 0.9231 - val_loss: 0.1453 - val_accuracy: 0.9315
Epoch 11/100
504/504 [==============================] - 0s 437us/step - loss: 0.1754 - accuracy: 0.9272 - val_loss: 0.1281 - val_accuracy: 0.9400
Epoch 12/100
504/504 [==============================] - 0s 437us/step - loss: 0.1691 - accuracy: 0.9310 - val_loss: 0.0900 - val_accuracy: 0.9713
Epoch 13/100
504/504 [==============================] - 0s 445us/step - loss: 0.1620 - accuracy: 0.9323 - val_loss: 0.0884 - val_accuracy: 0.9683
Epoch 14/100
504/504 [==============================] - 0s 435us/step - loss: 0.1618 - accuracy: 0.9310 - val_loss: 0.0956 - val_accuracy: 0.9707
Epoch 15/100
504/504 [==============================] - 0s 437us/step - loss: 0.1504 - accuracy: 0.9374 - val_loss: 0.1287 - val_accuracy: 0.9406
Epoch 16/100
504/504 [==============================] - 0s 437us/step - loss: 0.1552 - accuracy: 0.9356 - val_loss: 0.0836 - val_accuracy: 0.9689
Epoch 17/100
504/504 [==============================] - 0s 434us/step - loss: 0.1498 - accuracy: 0.9398 - val_loss: 0.0812 - val_accuracy: 0.9677
Epoch 18/100
504/504 [==============================] - 0s 435us/step - loss: 0.1463 - accuracy: 0.9415 - val_loss: 0.0748 - val_accuracy: 0.9806
Epoch 19/100
504/504 [==============================] - 0s 435us/step - loss: 0.1323 - accuracy: 0.9464 - val_loss: 0.0800 - val_accuracy: 0.9684
Epoch 20/100
504/504 [==============================] - 0s 434us/step - loss: 0.1397 - accuracy: 0.9423 - val_loss: 0.0773 - val_accuracy: 0.9744
Epoch 21/100
504/504 [==============================] - 0s 435us/step - loss: 0.1312 - accuracy: 0.9457 - val_loss: 0.0731 - val_accuracy: 0.9725
Epoch 22/100
504/504 [==============================] - 0s 434us/step - loss: 0.1264 - accuracy: 0.9479 - val_loss: 0.0840 - val_accuracy: 0.9686
Epoch 23/100
504/504 [==============================] - 0s 498us/step - loss: 0.1262 - accuracy: 0.9473 - val_loss: 0.0798 - val_accuracy: 0.9677
Epoch 24/100
504/504 [==============================] - 0s 440us/step - loss: 0.1253 - accuracy: 0.9521 - val_loss: 0.1010 - val_accuracy: 0.9513
Epoch 25/100
504/504 [==============================] - 0s 435us/step - loss: 0.1262 - accuracy: 0.9483 - val_loss: 0.0618 - val_accuracy: 0.9829
Epoch 26/100
504/504 [==============================] - 0s 436us/step - loss: 0.1326 - accuracy: 0.9473 - val_loss: 0.0713 - val_accuracy: 0.9729
Epoch 27/100
504/504 [==============================] - 0s 435us/step - loss: 0.1211 - accuracy: 0.9496 - val_loss: 0.0687 - val_accuracy: 0.9712
Epoch 28/100
504/504 [==============================] - 0s 434us/step - loss: 0.1297 - accuracy: 0.9472 - val_loss: 0.1621 - val_accuracy: 0.9329
Epoch 29/100
504/504 [==============================] - 0s 437us/step - loss: 0.1206 - accuracy: 0.9507 - val_loss: 0.0777 - val_accuracy: 0.9634
Epoch 30/100
504/504 [==============================] - 0s 439us/step - loss: 0.1193 - accuracy: 0.9503 - val_loss: 0.0540 - val_accuracy: 0.9862
Epoch 31/100
504/504 [==============================] - 0s 443us/step - loss: 0.1221 - accuracy: 0.9488 - val_loss: 0.0722 - val_accuracy: 0.9636
Epoch 32/100
504/504 [==============================] - 0s 441us/step - loss: 0.1196 - accuracy: 0.9498 - val_loss: 0.0767 - val_accuracy: 0.9668
Epoch 33/100
504/504 [==============================] - 0s 531us/step - loss: 0.1171 - accuracy: 0.9513 - val_loss: 0.0735 - val_accuracy: 0.9670
Epoch 34/100
504/504 [==============================] - 0s 441us/step - loss: 0.1269 - accuracy: 0.9480 - val_loss: 0.0658 - val_accuracy: 0.9710
Epoch 35/100
504/504 [==============================] - 0s 433us/step - loss: 0.1192 - accuracy: 0.9507 - val_loss: 0.0571 - val_accuracy: 0.9791
Epoch 36/100
504/504 [==============================] - 0s 432us/step - loss: 0.1183 - accuracy: 0.9515 - val_loss: 0.0547 - val_accuracy: 0.9909
Epoch 37/100
504/504 [==============================] - 0s 433us/step - loss: 0.1189 - accuracy: 0.9512 - val_loss: 0.0637 - val_accuracy: 0.9687
Epoch 38/100
504/504 [==============================] - 0s 433us/step - loss: 0.1239 - accuracy: 0.9492 - val_loss: 0.0659 - val_accuracy: 0.9819
Epoch 39/100
504/504 [==============================] - 0s 430us/step - loss: 0.1104 - accuracy: 0.9541 - val_loss: 0.0768 - val_accuracy: 0.9696
Epoch 40/100
504/504 [==============================] - 0s 430us/step - loss: 0.1077 - accuracy: 0.9547 - val_loss: 0.1493 - val_accuracy: 0.9286
Epoch 41/100
504/504 [==============================] - 0s 432us/step - loss: 0.1249 - accuracy: 0.9484 - val_loss: 0.0648 - val_accuracy: 0.9786
Epoch 42/100
504/504 [==============================] - 0s 430us/step - loss: 0.1095 - accuracy: 0.9565 - val_loss: 0.0718 - val_accuracy: 0.9713
Epoch 43/100
504/504 [==============================] - 0s 434us/step - loss: 0.1128 - accuracy: 0.9551 - val_loss: 0.0970 - val_accuracy: 0.9558
Epoch 44/100
504/504 [==============================] - 0s 434us/step - loss: 0.1170 - accuracy: 0.9529 - val_loss: 0.1043 - val_accuracy: 0.9500
Epoch 45/100
504/504 [==============================] - 0s 505us/step - loss: 0.1085 - accuracy: 0.9557 - val_loss: 0.0531 - val_accuracy: 0.9813
Epoch 46/100
504/504 [==============================] - 0s 454us/step - loss: 0.1107 - accuracy: 0.9559 - val_loss: 0.0475 - val_accuracy: 0.9941
Epoch 47/100
504/504 [==============================] - 0s 435us/step - loss: 0.1144 - accuracy: 0.9536 - val_loss: 0.0547 - val_accuracy: 0.9873
Epoch 48/100
504/504 [==============================] - 0s 432us/step - loss: 0.1100 - accuracy: 0.9545 - val_loss: 0.0527 - val_accuracy: 0.9823
Epoch 49/100
504/504 [==============================] - 0s 432us/step - loss: 0.1098 - accuracy: 0.9569 - val_loss: 0.0474 - val_accuracy: 0.9878
Epoch 50/100
504/504 [==============================] - 0s 429us/step - loss: 0.1054 - accuracy: 0.9565 - val_loss: 0.0512 - val_accuracy: 0.9752
Epoch 51/100
504/504 [==============================] - 0s 431us/step - loss: 0.1113 - accuracy: 0.9541 - val_loss: 0.0476 - val_accuracy: 0.9873
Epoch 52/100
504/504 [==============================] - 0s 438us/step - loss: 0.1086 - accuracy: 0.9557 - val_loss: 0.0583 - val_accuracy: 0.9802
Epoch 53/100
504/504 [==============================] - 0s 432us/step - loss: 0.0998 - accuracy: 0.9585 - val_loss: 0.0582 - val_accuracy: 0.9726
Epoch 54/100
504/504 [==============================] - 0s 428us/step - loss: 0.1063 - accuracy: 0.9571 - val_loss: 0.0611 - val_accuracy: 0.9634
Epoch 55/100
504/504 [==============================] - 0s 428us/step - loss: 0.0984 - accuracy: 0.9602 - val_loss: 0.0729 - val_accuracy: 0.9632
Epoch 56/100
504/504 [==============================] - 0s 429us/step - loss: 0.1086 - accuracy: 0.9533 - val_loss: 0.0451 - val_accuracy: 0.9891
Epoch 57/100
504/504 [==============================] - 0s 496us/step - loss: 0.0964 - accuracy: 0.9603 - val_loss: 0.0583 - val_accuracy: 0.9773
Epoch 58/100
504/504 [==============================] - 0s 430us/step - loss: 0.1097 - accuracy: 0.9556 - val_loss: 0.0591 - val_accuracy: 0.9819
Epoch 59/100
504/504 [==============================] - 0s 428us/step - loss: 0.1035 - accuracy: 0.9575 - val_loss: 0.0532 - val_accuracy: 0.9777
Epoch 60/100
504/504 [==============================] - 0s 430us/step - loss: 0.1016 - accuracy: 0.9589 - val_loss: 0.0534 - val_accuracy: 0.9826
Epoch 61/100
504/504 [==============================] - 0s 427us/step - loss: 0.1042 - accuracy: 0.9578 - val_loss: 0.0522 - val_accuracy: 0.9862
Epoch 62/100
504/504 [==============================] - 0s 429us/step - loss: 0.1010 - accuracy: 0.9611 - val_loss: 0.0595 - val_accuracy: 0.9790
Epoch 63/100
504/504 [==============================] - 0s 443us/step - loss: 0.1053 - accuracy: 0.9575 - val_loss: 0.0736 - val_accuracy: 0.9597
Epoch 64/100
504/504 [==============================] - 0s 436us/step - loss: 0.1042 - accuracy: 0.9573 - val_loss: 0.0560 - val_accuracy: 0.9923
Epoch 65/100
504/504 [==============================] - 0s 504us/step - loss: 0.1031 - accuracy: 0.9565 - val_loss: 0.0511 - val_accuracy: 0.9896
Epoch 66/100
504/504 [==============================] - 0s 430us/step - loss: 0.1052 - accuracy: 0.9593 - val_loss: 0.0488 - val_accuracy: 0.9871
Epoch 67/100
504/504 [==============================] - 0s 441us/step - loss: 0.0927 - accuracy: 0.9609 - val_loss: 0.0539 - val_accuracy: 0.9822
Epoch 68/100
504/504 [==============================] - 0s 432us/step - loss: 0.1056 - accuracy: 0.9576 - val_loss: 0.0529 - val_accuracy: 0.9810
Epoch 69/100
504/504 [==============================] - 0s 433us/step - loss: 0.0984 - accuracy: 0.9597 - val_loss: 0.0610 - val_accuracy: 0.9647
Epoch 70/100
504/504 [==============================] - 0s 431us/step - loss: 0.0905 - accuracy: 0.9619 - val_loss: 0.0545 - val_accuracy: 0.9761
Epoch 71/100
504/504 [==============================] - 0s 428us/step - loss: 0.0892 - accuracy: 0.9632 - val_loss: 0.0671 - val_accuracy: 0.9667
Epoch 72/100
504/504 [==============================] - 0s 430us/step - loss: 0.1046 - accuracy: 0.9583 - val_loss: 0.0995 - val_accuracy: 0.9480
Epoch 73/100
504/504 [==============================] - 0s 428us/step - loss: 0.0945 - accuracy: 0.9621 - val_loss: 0.0491 - val_accuracy: 0.9784
Epoch 74/100
504/504 [==============================] - 0s 437us/step - loss: 0.0924 - accuracy: 0.9626 - val_loss: 0.0636 - val_accuracy: 0.9629
Epoch 75/100
504/504 [==============================] - 0s 429us/step - loss: 0.1003 - accuracy: 0.9587 - val_loss: 0.0695 - val_accuracy: 0.9639
Epoch 76/100
504/504 [==============================] - 0s 429us/step - loss: 0.0978 - accuracy: 0.9588 - val_loss: 0.0412 - val_accuracy: 0.9929
Epoch 77/100
504/504 [==============================] - 0s 489us/step - loss: 0.0969 - accuracy: 0.9605 - val_loss: 0.0379 - val_accuracy: 0.9959
Epoch 78/100
504/504 [==============================] - 0s 429us/step - loss: 0.0931 - accuracy: 0.9593 - val_loss: 0.0723 - val_accuracy: 0.9580
Epoch 79/100
504/504 [==============================] - 0s 433us/step - loss: 0.0914 - accuracy: 0.9624 - val_loss: 0.0712 - val_accuracy: 0.9645
Epoch 80/100
504/504 [==============================] - 0s 437us/step - loss: 0.1002 - accuracy: 0.9582 - val_loss: 0.0595 - val_accuracy: 0.9787
Epoch 81/100
504/504 [==============================] - 0s 444us/step - loss: 0.1009 - accuracy: 0.9595 - val_loss: 0.0597 - val_accuracy: 0.9794
Epoch 82/100
504/504 [==============================] - 0s 432us/step - loss: 0.0920 - accuracy: 0.9634 - val_loss: 0.0666 - val_accuracy: 0.9791
Epoch 83/100
504/504 [==============================] - 0s 435us/step - loss: 0.0947 - accuracy: 0.9613 - val_loss: 0.0442 - val_accuracy: 0.9919
Epoch 84/100
504/504 [==============================] - 0s 431us/step - loss: 0.0969 - accuracy: 0.9598 - val_loss: 0.0413 - val_accuracy: 0.9961
Epoch 85/100
504/504 [==============================] - 0s 430us/step - loss: 0.0926 - accuracy: 0.9627 - val_loss: 0.0404 - val_accuracy: 0.9873
Epoch 86/100
504/504 [==============================] - 0s 433us/step - loss: 0.0929 - accuracy: 0.9613 - val_loss: 0.0658 - val_accuracy: 0.9607
Epoch 87/100
504/504 [==============================] - 0s 445us/step - loss: 0.0957 - accuracy: 0.9600 - val_loss: 0.0723 - val_accuracy: 0.9592
Epoch 88/100
504/504 [==============================] - 0s 513us/step - loss: 0.0959 - accuracy: 0.9609 - val_loss: 0.0434 - val_accuracy: 0.9926
Epoch 89/100
504/504 [==============================] - 0s 441us/step - loss: 0.0853 - accuracy: 0.9644 - val_loss: 0.0484 - val_accuracy: 0.9842
Epoch 90/100
504/504 [==============================] - 0s 434us/step - loss: 0.0976 - accuracy: 0.9598 - val_loss: 0.0549 - val_accuracy: 0.9791
Epoch 91/100
504/504 [==============================] - 0s 431us/step - loss: 0.0988 - accuracy: 0.9589 - val_loss: 0.0470 - val_accuracy: 0.9868
Epoch 92/100
504/504 [==============================] - 0s 433us/step - loss: 0.0808 - accuracy: 0.9672 - val_loss: 0.0773 - val_accuracy: 0.9593
Epoch 93/100
504/504 [==============================] - 0s 431us/step - loss: 0.0965 - accuracy: 0.9609 - val_loss: 0.0608 - val_accuracy: 0.9657
Epoch 94/100
504/504 [==============================] - 0s 431us/step - loss: 0.0948 - accuracy: 0.9616 - val_loss: 0.0653 - val_accuracy: 0.9677
Epoch 95/100
504/504 [==============================] - 0s 442us/step - loss: 0.0971 - accuracy: 0.9605 - val_loss: 0.0500 - val_accuracy: 0.9706
Epoch 96/100
504/504 [==============================] - 0s 521us/step - loss: 0.0957 - accuracy: 0.9602 - val_loss: 0.0533 - val_accuracy: 0.9864
Epoch 97/100
504/504 [==============================] - 0s 435us/step - loss: 0.0902 - accuracy: 0.9634 - val_loss: 0.0434 - val_accuracy: 0.9858
Epoch 98/100
504/504 [==============================] - 0s 455us/step - loss: 0.0850 - accuracy: 0.9655 - val_loss: 0.0445 - val_accuracy: 0.9877
Epoch 99/100
504/504 [==============================] - 0s 438us/step - loss: 0.0897 - accuracy: 0.9631 - val_loss: 0.0568 - val_accuracy: 0.9855
Epoch 100/100
504/504 [==============================] - 0s 461us/step - loss: 0.0901 - accuracy: 0.9616 - val_loss: 0.0494 - val_accuracy: 0.9719

In [37]:
model.save('ann_model.keras', save_format='keras')