In [2]:
from pathlib import Path

filepath = Path("Datasets/main.csv")

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv(filepath)

In [5]:
df

,sleep_interval,appetite,going_out,friendship_status,family_relationships,relationship,hobbies_and_interests,self_perception,bullying_experience,social_media_impact,academic_pressure,intoxication,_and_ambitions,age,grade,sum,depressionLevel
0,2,2,0,2,2,2,0,2,1,1,0,1,2,2,0,41,Moderate
1,2,1,1,2,1,0,0,2,1,2,2,0,2,2,2,41,Moderate
2,2,1,0,2,0,1,0,0,0,0,1,0,1,0,2,22,Mild
3,0,2,1,2,1,2,2,2,0,1,0,0,1,2,0,35,Moderate
4,2,0,0,2,0,1,0,1,0,0,1,0,0,1,0,19,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,2,0,0,2,0,2,0,1,1,2,1,1,2,2,2,33,Mild
23007,2,1,0,2,1,0,2,0,0,2,1,0,0,2,2,32,Mild
23008,2,0,1,0,2,1,2,1,0,1,0,2,0,1,0,28,Mild
23009,0,2,1,0,2,2,1,0,1,2,1,1,2,2,0,34,Moderate
23010,0,1,0,0,0,1,2,0,1,2,1,0,1,1,0,19,Low

In [7]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['DepressionLevel'] = label_encoder.fit_transform(df['depressionLevel'])

In [8]:
df

,sleep_interval,appetite,going_out,friendship_status,family_relationships,relationship,hobbies_and_interests,self_perception,bullying_experience,social_media_impact,academic_pressure,intoxication,_and_ambitions,age,grade,sum,depressionLevel,DepressionLevel
0,2,2,0,2,2,2,0,2,1,1,0,1,2,2,0,41,Moderate,3
1,2,1,1,2,1,0,0,2,1,2,2,0,2,2,2,41,Moderate,3
2,2,1,0,2,0,1,0,0,0,0,1,0,1,0,2,22,Mild,2
3,0,2,1,2,1,2,2,2,0,1,0,0,1,2,0,35,Moderate,3
4,2,0,0,2,0,1,0,1,0,0,1,0,0,1,0,19,Low,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,2,0,0,2,0,2,0,1,1,2,1,1,2,2,2,33,Mild,2
23007,2,1,0,2,1,0,2,0,0,2,1,0,0,2,2,32,Mild,2
23008,2,0,1,0,2,1,2,1,0,1,0,2,0,1,0,28,Mild,2
23009,0,2,1,0,2,2,1,0,1,2,1,1,2,2,0,34,Moderate,3
23010,0,1,0,0,0,1,2,0,1,2,1,0,1,1,0,19,Low,1

In [18]:
df=df.drop(columns='depressionLevel')

In [33]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
import numpy as np


def build_ann_model(input_shape, num_classes):
    model = Sequential([
        Dense(128, activation='relu', input_shape=(input_shape,)),
        Dropout(0.4),
        Dense(64, activation='relu'),
        Dropout(0.4),
        Dense(num_classes, activation='softmax')  
    ])
    
    
    model.compile(optimizer='adam', 
                  loss='sparse_categorical_crossentropy',
                  metrics=['accuracy'])
    
    return model

In [19]:
df

,sleep_interval,appetite,going_out,friendship_status,family_relationships,relationship,hobbies_and_interests,self_perception,bullying_experience,social_media_impact,academic_pressure,intoxication,_and_ambitions,age,grade,sum,DepressionLevel
0,2,2,0,2,2,2,0,2,1,1,0,1,2,2,0,41,3
1,2,1,1,2,1,0,0,2,1,2,2,0,2,2,2,41,3
2,2,1,0,2,0,1,0,0,0,0,1,0,1,0,2,22,2
3,0,2,1,2,1,2,2,2,0,1,0,0,1,2,0,35,3
4,2,0,0,2,0,1,0,1,0,0,1,0,0,1,0,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,2,0,0,2,0,2,0,1,1,2,1,1,2,2,2,33,2
23007,2,1,0,2,1,0,2,0,0,2,1,0,0,2,2,32,2
23008,2,0,1,0,2,1,2,1,0,1,0,2,0,1,0,28,2
23009,0,2,1,0,2,2,1,0,1,2,1,1,2,2,0,34,3
23010,0,1,0,0,0,1,2,0,1,2,1,0,1,1,0,19,1

In [20]:
X

,sleep_interval,appetite,going_out,friendship_status,family_relationships,relationship,hobbies_and_interests,self_perception,bullying_experience,social_media_impact,academic_pressure,intoxication,_and_ambitions,age,grade,sum,depressionLevel
0,2,2,0,2,2,2,0,2,1,1,0,1,2,2,0,41,Moderate
1,2,1,1,2,1,0,0,2,1,2,2,0,2,2,2,41,Moderate
2,2,1,0,2,0,1,0,0,0,0,1,0,1,0,2,22,Mild
3,0,2,1,2,1,2,2,2,0,1,0,0,1,2,0,35,Moderate
4,2,0,0,2,0,1,0,1,0,0,1,0,0,1,0,19,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,2,0,0,2,0,2,0,1,1,2,1,1,2,2,2,33,Mild
23007,2,1,0,2,1,0,2,0,0,2,1,0,0,2,2,32,Mild
23008,2,0,1,0,2,1,2,1,0,1,0,2,0,1,0,28,Mild
23009,0,2,1,0,2,2,1,0,1,2,1,1,2,2,0,34,Moderate
23010,0,1,0,0,0,1,2,0,1,2,1,0,1,1,0,19,Low

In [23]:
X=df.iloc[:, :-1]

In [24]:
X

,sleep_interval,appetite,going_out,friendship_status,family_relationships,relationship,hobbies_and_interests,self_perception,bullying_experience,social_media_impact,academic_pressure,intoxication,_and_ambitions,age,grade,sum
0,2,2,0,2,2,2,0,2,1,1,0,1,2,2,0,41
1,2,1,1,2,1,0,0,2,1,2,2,0,2,2,2,41
2,2,1,0,2,0,1,0,0,0,0,1,0,1,0,2,22
3,0,2,1,2,1,2,2,2,0,1,0,0,1,2,0,35
4,2,0,0,2,0,1,0,1,0,0,1,0,0,1,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,2,0,0,2,0,2,0,1,1,2,1,1,2,2,2,33
23007,2,1,0,2,1,0,2,0,0,2,1,0,0,2,2,32
23008,2,0,1,0,2,1,2,1,0,1,0,2,0,1,0,28
23009,0,2,1,0,2,2,1,0,1,2,1,1,2,2,0,34
23010,0,1,0,0,0,1,2,0,1,2,1,0,1,1,0,19

In [25]:
Y=df['DepressionLevel']

In [26]:
Y

0        3
1        3
2        2
3        3
4        1
        ..
23006    2
23007    2
23008    2
23009    3
23010    1
Name: DepressionLevel, Length: 23011, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [36]:
input_shape = 16
num_classes = 4

In [40]:
from tensorflow.keras.callbacks import EarlyStopping

In [42]:
model = build_ann_model(input_shape, num_classes)
early_stopping = EarlyStopping(monitor='val_accuracy', patience=5, restore_best_weights=True)
model.fit(X_train, y_train, epochs=100, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/100
504/504 [==============================] - 0s 558us/step - loss: 0.9522 - accuracy: 0.6027 - val_loss: 0.4149 - val_accuracy: 0.8915
Epoch 2/100
504/504 [==============================] - 0s 438us/step - loss: 0.4244 - accuracy: 0.8311 - val_loss: 0.2284 - val_accuracy: 0.9298
Epoch 3/100
504/504 [==============================] - 0s 440us/step - loss: 0.3171 - accuracy: 0.8692 - val_loss: 0.1804 - val_accuracy: 0.9395
Epoch 4/100
504/504 [==============================] - 0s 456us/step - loss: 0.2669 - accuracy: 0.8872 - val_loss: 0.1538 - val_accuracy: 0.9544
Epoch 5/100
504/504 [==============================] - 0s 444us/step - loss: 0.2401 - accuracy: 0.8971 - val_loss: 0.1266 - val_accuracy: 0.9652
Epoch 6/100
504/504 [==============================] - 0s 436us/step - loss: 0.2142 - accuracy: 0.9095 - val_loss: 0.1313 - val_accuracy: 0.9522
Epoch 7/100
504/504 [==============================] - 0s 436us/step - loss: 0.1971 - accuracy: 0.9171 - val_loss: 0.1072 - val_accuracy: 0.9671
Epoch 8/100
504/504 [==============================] - 0s 436us/step - loss: 0.1854 - accuracy: 0.9213 - val_loss: 0.1203 - val_accuracy: 0.9486
Epoch 9/100
504/504 [==============================] - 0s 435us/step - loss: 0.1717 - accuracy: 0.9262 - val_loss: 0.1074 - val_accuracy: 0.9500
Epoch 10/100
504/504 [==============================] - 0s 480us/step - loss: 0.1647 - accuracy: 0.9282 - val_loss: 0.1325 - val_accuracy: 0.9421
Epoch 11/100
504/504 [==============================] - 0s 434us/step - loss: 0.1599 - accuracy: 0.9320 - val_loss: 0.1136 - val_accuracy: 0.9538
Epoch 12/100
504/504 [==============================] - 0s 434us/step - loss: 0.1553 - accuracy: 0.9328 - val_loss: 0.0885 - val_accuracy: 0.9719
Epoch 13/100
504/504 [==============================] - 0s 436us/step - loss: 0.1434 - accuracy: 0.9385 - val_loss: 0.0970 - val_accuracy: 0.9592
Epoch 14/100
504/504 [==============================] - 0s 435us/step - loss: 0.1348 - accuracy: 0.9438 - val_loss: 0.1156 - val_accuracy: 0.9542
Epoch 15/100
504/504 [==============================] - 0s 434us/step - loss: 0.1297 - accuracy: 0.9462 - val_loss: 0.0719 - val_accuracy: 0.9797
Epoch 16/100
504/504 [==============================] - 0s 435us/step - loss: 0.1294 - accuracy: 0.9458 - val_loss: 0.0767 - val_accuracy: 0.9719
Epoch 17/100
504/504 [==============================] - 0s 433us/step - loss: 0.1248 - accuracy: 0.9470 - val_loss: 0.1354 - val_accuracy: 0.9360
Epoch 18/100
504/504 [==============================] - 0s 435us/step - loss: 0.1209 - accuracy: 0.9488 - val_loss: 0.0942 - val_accuracy: 0.9521
Epoch 19/100
504/504 [==============================] - 0s 442us/step - loss: 0.1187 - accuracy: 0.9481 - val_loss: 0.0600 - val_accuracy: 0.9807
Epoch 20/100
504/504 [==============================] - 0s 435us/step - loss: 0.1167 - accuracy: 0.9516 - val_loss: 0.0710 - val_accuracy: 0.9735
Epoch 21/100
504/504 [==============================] - 0s 479us/step - loss: 0.1096 - accuracy: 0.9547 - val_loss: 0.0597 - val_accuracy: 0.9804
Epoch 22/100
504/504 [==============================] - 0s 437us/step - loss: 0.1145 - accuracy: 0.9541 - val_loss: 0.0859 - val_accuracy: 0.9587
Epoch 23/100
504/504 [==============================] - 0s 435us/step - loss: 0.1105 - accuracy: 0.9546 - val_loss: 0.0753 - val_accuracy: 0.9696
Epoch 24/100
504/504 [==============================] - 0s 432us/step - loss: 0.1039 - accuracy: 0.9570 - val_loss: 0.1064 - val_accuracy: 0.9580
Epoch 25/100
504/504 [==============================] - 0s 454us/step - loss: 0.1057 - accuracy: 0.9570 - val_loss: 0.0727 - val_accuracy: 0.9680
Epoch 26/100
504/504 [==============================] - 0s 444us/step - loss: 0.1063 - accuracy: 0.9567 - val_loss: 0.0739 - val_accuracy: 0.9718
Epoch 27/100
504/504 [==============================] - 0s 434us/step - loss: 0.0988 - accuracy: 0.9601 - val_loss: 0.0834 - val_accuracy: 0.9651
Epoch 28/100
504/504 [==============================] - 0s 458us/step - loss: 0.1066 - accuracy: 0.9560 - val_loss: 0.0771 - val_accuracy: 0.9635
Epoch 29/100
504/504 [==============================] - 0s 437us/step - loss: 0.1001 - accuracy: 0.9586 - val_loss: 0.0481 - val_accuracy: 0.9894
Epoch 30/100
504/504 [==============================] - 0s 436us/step - loss: 0.0987 - accuracy: 0.9621 - val_loss: 0.0704 - val_accuracy: 0.9715
Epoch 31/100
504/504 [==============================] - 0s 477us/step - loss: 0.0982 - accuracy: 0.9588 - val_loss: 0.0452 - val_accuracy: 0.9886
Epoch 32/100
504/504 [==============================] - 0s 435us/step - loss: 0.0954 - accuracy: 0.9607 - val_loss: 0.0650 - val_accuracy: 0.9726
Epoch 33/100
504/504 [==============================] - 0s 433us/step - loss: 0.0924 - accuracy: 0.9614 - val_loss: 0.0605 - val_accuracy: 0.9709
Epoch 34/100
504/504 [==============================] - 0s 431us/step - loss: 0.0956 - accuracy: 0.9624 - val_loss: 0.0918 - val_accuracy: 0.9483
Epoch 35/100
504/504 [==============================] - 0s 449us/step - loss: 0.0903 - accuracy: 0.9639 - val_loss: 0.0790 - val_accuracy: 0.9599
Epoch 36/100
504/504 [==============================] - 0s 429us/step - loss: 0.0991 - accuracy: 0.9585 - val_loss: 0.0522 - val_accuracy: 0.9848
Epoch 37/100
504/504 [==============================] - 0s 434us/step - loss: 0.0949 - accuracy: 0.9607 - val_loss: 0.0673 - val_accuracy: 0.9703
Epoch 38/100
504/504 [==============================] - 0s 428us/step - loss: 0.0956 - accuracy: 0.9603 - val_loss: 0.0597 - val_accuracy: 0.9777
Epoch 39/100
504/504 [==============================] - 0s 427us/step - loss: 0.1045 - accuracy: 0.9570 - val_loss: 0.0502 - val_accuracy: 0.9858
Epoch 40/100
504/504 [==============================] - 0s 428us/step - loss: 0.0859 - accuracy: 0.9654 - val_loss: 0.0367 - val_accuracy: 0.9933
Epoch 41/100
504/504 [==============================] - 0s 474us/step - loss: 0.0885 - accuracy: 0.9639 - val_loss: 0.0804 - val_accuracy: 0.9622
Epoch 42/100
504/504 [==============================] - 0s 426us/step - loss: 0.0844 - accuracy: 0.9648 - val_loss: 0.0548 - val_accuracy: 0.9760
Epoch 43/100
504/504 [==============================] - 0s 428us/step - loss: 0.0940 - accuracy: 0.9623 - val_loss: 0.0729 - val_accuracy: 0.9676
Epoch 44/100
504/504 [==============================] - 0s 426us/step - loss: 0.0905 - accuracy: 0.9613 - val_loss: 0.0471 - val_accuracy: 0.9894
Epoch 45/100
504/504 [==============================] - 0s 426us/step - loss: 0.0796 - accuracy: 0.9672 - val_loss: 0.0718 - val_accuracy: 0.9663
Epoch 46/100
504/504 [==============================] - 0s 523us/step - loss: 0.0952 - accuracy: 0.9621 - val_loss: 0.0425 - val_accuracy: 0.9873
Epoch 47/100
504/504 [==============================] - 0s 427us/step - loss: 0.0846 - accuracy: 0.9658 - val_loss: 0.0923 - val_accuracy: 0.9625
Epoch 48/100
504/504 [==============================] - 0s 428us/step - loss: 0.0859 - accuracy: 0.9664 - val_loss: 0.0609 - val_accuracy: 0.9744
Epoch 49/100
504/504 [==============================] - 0s 428us/step - loss: 0.0877 - accuracy: 0.9639 - val_loss: 0.0474 - val_accuracy: 0.9875
Epoch 50/100
504/504 [==============================] - 0s 429us/step - loss: 0.0946 - accuracy: 0.9619 - val_loss: 0.0926 - val_accuracy: 0.9550
Epoch 51/100
504/504 [==============================] - 0s 473us/step - loss: 0.0803 - accuracy: 0.9675 - val_loss: 0.0468 - val_accuracy: 0.9839
Epoch 52/100
504/504 [==============================] - 0s 437us/step - loss: 0.0908 - accuracy: 0.9644 - val_loss: 0.0973 - val_accuracy: 0.9497
Epoch 53/100
504/504 [==============================] - 0s 433us/step - loss: 0.0838 - accuracy: 0.9659 - val_loss: 0.0348 - val_accuracy: 0.9932
Epoch 54/100
504/504 [==============================] - 0s 440us/step - loss: 0.0848 - accuracy: 0.9655 - val_loss: 0.0451 - val_accuracy: 0.9848
Epoch 55/100
504/504 [==============================] - 0s 465us/step - loss: 0.0787 - accuracy: 0.9666 - val_loss: 0.0365 - val_accuracy: 0.9888
Epoch 56/100
504/504 [==============================] - 0s 436us/step - loss: 0.0751 - accuracy: 0.9698 - val_loss: 0.0441 - val_accuracy: 0.9838
Epoch 57/100
504/504 [==============================] - 0s 434us/step - loss: 0.0914 - accuracy: 0.9621 - val_loss: 0.0371 - val_accuracy: 0.9948
Epoch 58/100
504/504 [==============================] - 0s 435us/step - loss: 0.0792 - accuracy: 0.9660 - val_loss: 0.0601 - val_accuracy: 0.9705
Epoch 59/100
504/504 [==============================] - 0s 478us/step - loss: 0.0775 - accuracy: 0.9677 - val_loss: 0.1147 - val_accuracy: 0.9548
Epoch 60/100
504/504 [==============================] - 0s 434us/step - loss: 0.0763 - accuracy: 0.9692 - val_loss: 0.0282 - val_accuracy: 0.9932
Epoch 61/100
504/504 [==============================] - 0s 434us/step - loss: 0.0764 - accuracy: 0.9694 - val_loss: 0.0306 - val_accuracy: 0.9913
Epoch 62/100
504/504 [==============================] - 0s 435us/step - loss: 0.0844 - accuracy: 0.9665 - val_loss: 0.0574 - val_accuracy: 0.9778
Epoch 63/100
504/504 [==============================] - 0s 433us/step - loss: 0.0826 - accuracy: 0.9648 - val_loss: 0.0622 - val_accuracy: 0.9687
Epoch 64/100
504/504 [==============================] - 0s 435us/step - loss: 0.0720 - accuracy: 0.9716 - val_loss: 0.0506 - val_accuracy: 0.9793
Epoch 65/100
504/504 [==============================] - 0s 434us/step - loss: 0.0852 - accuracy: 0.9647 - val_loss: 0.1006 - val_accuracy: 0.9593
Epoch 66/100
504/504 [==============================] - 0s 434us/step - loss: 0.0870 - accuracy: 0.9652 - val_loss: 0.0471 - val_accuracy: 0.9860
Epoch 67/100
504/504 [==============================] - 0s 435us/step - loss: 0.0803 - accuracy: 0.9667 - val_loss: 0.0525 - val_accuracy: 0.9809
Epoch 68/100
504/504 [==============================] - 0s 434us/step - loss: 0.0845 - accuracy: 0.9656 - val_loss: 0.0434 - val_accuracy: 0.9862
Epoch 69/100
504/504 [==============================] - 0s 477us/step - loss: 0.0745 - accuracy: 0.9688 - val_loss: 0.0672 - val_accuracy: 0.9691
Epoch 70/100
504/504 [==============================] - 0s 441us/step - loss: 0.0761 - accuracy: 0.9677 - val_loss: 0.0849 - val_accuracy: 0.9492
Epoch 71/100
504/504 [==============================] - 0s 434us/step - loss: 0.0823 - accuracy: 0.9655 - val_loss: 0.0387 - val_accuracy: 0.9907
Epoch 72/100
504/504 [==============================] - 0s 436us/step - loss: 0.0799 - accuracy: 0.9667 - val_loss: 0.0495 - val_accuracy: 0.9764
Epoch 73/100
504/504 [==============================] - 0s 433us/step - loss: 0.0723 - accuracy: 0.9706 - val_loss: 0.0373 - val_accuracy: 0.9881
Epoch 74/100
504/504 [==============================] - 0s 435us/step - loss: 0.0840 - accuracy: 0.9651 - val_loss: 0.0402 - val_accuracy: 0.9875
Epoch 75/100
504/504 [==============================] - 0s 434us/step - loss: 0.0804 - accuracy: 0.9673 - val_loss: 0.0993 - val_accuracy: 0.9515
Epoch 76/100
504/504 [==============================] - 0s 434us/step - loss: 0.0819 - accuracy: 0.9658 - val_loss: 0.0430 - val_accuracy: 0.9835
Epoch 77/100
504/504 [==============================] - 0s 433us/step - loss: 0.0748 - accuracy: 0.9693 - val_loss: 0.0306 - val_accuracy: 0.9945
Epoch 78/100
504/504 [==============================] - 0s 439us/step - loss: 0.0708 - accuracy: 0.9714 - val_loss: 0.0371 - val_accuracy: 0.9874
Epoch 79/100
504/504 [==============================] - 0s 479us/step - loss: 0.0628 - accuracy: 0.9750 - val_loss: 0.0527 - val_accuracy: 0.9712
Epoch 80/100
504/504 [==============================] - 0s 433us/step - loss: 0.0752 - accuracy: 0.9691 - val_loss: 0.0588 - val_accuracy: 0.9755
Epoch 81/100
504/504 [==============================] - 0s 434us/step - loss: 0.0879 - accuracy: 0.9628 - val_loss: 0.0640 - val_accuracy: 0.9664
Epoch 82/100
504/504 [==============================] - 0s 442us/step - loss: 0.0726 - accuracy: 0.9709 - val_loss: 0.0629 - val_accuracy: 0.9665
Epoch 83/100
504/504 [==============================] - 0s 438us/step - loss: 0.0732 - accuracy: 0.9708 - val_loss: 0.0423 - val_accuracy: 0.9838
Epoch 84/100
504/504 [==============================] - 0s 432us/step - loss: 0.0795 - accuracy: 0.9666 - val_loss: 0.0440 - val_accuracy: 0.9815
Epoch 85/100
504/504 [==============================] - 0s 437us/step - loss: 0.0714 - accuracy: 0.9720 - val_loss: 0.0386 - val_accuracy: 0.9849
Epoch 86/100
504/504 [==============================] - 0s 438us/step - loss: 0.0658 - accuracy: 0.9724 - val_loss: 0.0349 - val_accuracy: 0.9930
Epoch 87/100
504/504 [==============================] - 0s 436us/step - loss: 0.0879 - accuracy: 0.9649 - val_loss: 0.0799 - val_accuracy: 0.9592
Epoch 88/100
504/504 [==============================] - 0s 559us/step - loss: 0.0812 - accuracy: 0.9669 - val_loss: 0.0359 - val_accuracy: 0.9952
Epoch 89/100
504/504 [==============================] - 0s 433us/step - loss: 0.0774 - accuracy: 0.9690 - val_loss: 0.0520 - val_accuracy: 0.9707
Epoch 90/100
504/504 [==============================] - 0s 443us/step - loss: 0.0762 - accuracy: 0.9679 - val_loss: 0.0375 - val_accuracy: 0.9855
Epoch 91/100
504/504 [==============================] - 0s 431us/step - loss: 0.0786 - accuracy: 0.9668 - val_loss: 0.0549 - val_accuracy: 0.9694
Epoch 92/100
504/504 [==============================] - 0s 430us/step - loss: 0.0778 - accuracy: 0.9681 - val_loss: 0.0629 - val_accuracy: 0.9693
Epoch 93/100
504/504 [==============================] - 0s 431us/step - loss: 0.0732 - accuracy: 0.9697 - val_loss: 0.1165 - val_accuracy: 0.9518
Epoch 94/100
504/504 [==============================] - 0s 434us/step - loss: 0.0728 - accuracy: 0.9695 - val_loss: 0.0422 - val_accuracy: 0.9870
Epoch 95/100
504/504 [==============================] - 0s 437us/step - loss: 0.0696 - accuracy: 0.9708 - val_loss: 0.0409 - val_accuracy: 0.9865
Epoch 96/100
504/504 [==============================] - 0s 476us/step - loss: 0.0704 - accuracy: 0.9704 - val_loss: 0.0575 - val_accuracy: 0.9703
Epoch 97/100
504/504 [==============================] - 0s 468us/step - loss: 0.0753 - accuracy: 0.9701 - val_loss: 0.0223 - val_accuracy: 0.9972
Epoch 98/100
504/504 [==============================] - 0s 456us/step - loss: 0.0686 - accuracy: 0.9708 - val_loss: 0.0432 - val_accuracy: 0.9817
Epoch 99/100
504/504 [==============================] - 0s 432us/step - loss: 0.0828 - accuracy: 0.9672 - val_loss: 0.0382 - val_accuracy: 0.9887
Epoch 100/100
504/504 [==============================] - 0s 458us/step - loss: 0.0639 - accuracy: 0.9745 - val_loss: 0.0263 - val_accuracy: 0.9952

In [43]:
model.save('ann_model.keras')